<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>List</title>-->
<!--</head>-->
<body>
    <h3>Products</h3>
<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>
<!--/*@thymesVar id="success" type="jdk"*/-->
<div th:if="${success}">
   
    <span th:text="${success}"></span>
</div>
<table id="products">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Price</th>
            <th>Function</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
    </thead>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getFunction()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
</table>
</body>
</html>
</html>